/*------------Normalize--------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    line-height: 150%;
    font-family: sans-serif !important;
}
ul,ol,li {
    list-style-type: none; 
}

/*------------Variables--------------*/
:root {
    --color-gray: #353A40;
    --color-background: #FFFFFF;
    --color-dark-blue: #1D3744;
    --color-light-blue: #1E5371;
}
 /*-----------------Body-------------*/
body{
background-color: var(--color-purple);
font-size: 16px;
color: var(--color-font);
}

/*--------------General--------------*/
a{
text-decoration: none;
/*color: var(--color-font);*/
color: white;


/*-----------Header-----------*/
}
header{
    /*background-color: var(--color-gray);*/
    color: white;
}

/*-----------main-----------*/
.intro-cover {
    height: 100vh;
    background-image: url("./imagens_integrador_front/ba1.jpg");
    background-size: cover;
    color: white;  
    position: relative;
    overflow: hidden;
}
#image-opacity{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}
 /*
.transbox{
    background-color: black;
    opacity: 0.7;
}*/


.content-image{
   /*  width: 100vw;*/
    height: 70vh;
    background-image: url("./imagens_integrador_front/honolulu.jpg");
    background-size: cover;
}
.content-description{
    /* width: 100vw;*/
}
.oradores {
   margin: 0 10vw;
}

section .content{
    border-top: 1px solid black;
}
.form-text{
    margin-left: -23vw;
}
.enviar {
    background-color: greenyellow;

  /*  width: 30vw;*/
}
#enviar:hover{
   /* background-color: rgba(0, 0, 0, 0.4);*/
   box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
   text-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
   background-color: greenyellow !important;
    /*border: 1px solid green !important;*/
}
footer{
    background-image: linear-gradient(to right, var(--color-dark-blue), var(--color-light-blue));
}